.btn {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
  }
  
  .bakerloo {
    border-radius: 5px;
    color: #F8F8F8;
    background: #994417;
    
  }

  .central {
    border-radius: 5px;
    color: #F8F8F8;
    background: rgb(220, 36, 31);

  }

  .circle {
    border-radius: 5px;
    color: #F8F8F8;
    background: #ffd600;

  }
  
  .district {
    border-radius: 5px;
    color: #F8F8F8;
    background: #09ba00;

  }
  
  .hammersmith {
    border-radius: 5px;
    color: #F8F8F8;
    background: #fa80d4;

  }

  .jubilee {
    border-radius: 5px;
    color: #F8F8F8;
    background: #65878d;
    
  }

  .metropolitan {
    border-radius: 5px;
    color: #F8F8F8;
    background: #730088;

  }

  .northern {
    border-radius: 5px;
    color: #F8F8F8;
    background: #000000;

  }
  
  .piccadilly {
    border-radius: 5px;
    color: #F8F8F8;
    background: #001df2;

  }
  
  .victoria {
    border-radius: 5px;
    color: #F8F8F8;
    background: #00a0e2;

  }

  .waterloo {
    border-radius: 5px;
    color: #F8F8F8;
    background: #93ceba;

  }